.app {
  background-image: url(https://images.unsplash.com/photo-1476370648495-3533f64427a2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
}

.header__left {
  display: flex;
}

.header__left > p {
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.header__right {
  display: flex;
}

.header__right > p {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}
.content {
  /* text-align: center; */
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
  height: 90vh;
}

.content > h1 {
  letter-spacing: 3px;
  font-size: 65px;
}
.content > p {
  margin-top: 29px;
  margin-bottom: 29px;
  font-size: 35px;
}

.content > button {
  padding: 15px 37px;
  font-size: 20px;
  border-radius: 999px;
  border: 1px solid;
  /* color: #fff; */
  background-color: yellow;
  border-color: white;
  cursor: pointer;
  transition: 2s all;
}

.content > button:hover {
  background-color: #fff;
}
